<div class="sequence-container">
  <div *ngFor="let item of range; let index = index">
    <app-list-sequence
      *ngIf="index === initRange"
      (nextSequence)="nextOption()"
      [timer]="timer"
      [value]="item"
      [limit]="numberOptionSequence"
      (setValue)="setResponse($event)"
    ></app-list-sequence>
  </div>
  <div *ngIf="initRange === limitRange">
    <app-result-sequence
      (resetSequence)="resetSequence($event)"
      [totalResponse]="total"
    ></app-result-sequence>
  </div>
</div>
